* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}
.hero {
  background: url("background.webp") no-repeat center center/cover;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  position: relative;
}
.overlay {
  background: rgba(0, 0, 0, 0.65);
  padding: 2em;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.overlay h1 {
  margin-bottom: 1em;
  font-size: 2.5em;
  font-weight: 700;
}
.navigation {
  margin-top: 0.5em;
}
.navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 1em;
}
.navigation ul li {
  display: inline;
  margin: 0 1em;
  width: 20%;
  z-index: 25;
  overflow-y: hidden;
}
.navigation ul li a {
  color: #fff;
  font-size: 1.2em;
  border: 0.1em solid #fff;
  padding: 0.5em 1em;
  transition: background-color 0.3s ease;
  text-decoration: none;
}
.navigation ul li a:hover {
  background-color: #994e6cff;
  color: #333;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 2em;
  width: 80%;
  background: rgba(31, 49, 28, 0.85);
  padding: 2em;
  border-radius: 0.5em;
  margin-inline: 10%;
}
.skillsabout {
  flex: 1 1 30%;
  min-width: 250px;
  overflow-y: hidden;
}
.skillsabout ul {
  display: inline;
  list-style: none;
  padding: 0.8em;
}
.skillsabout ul li {
  text-align: left;
  font-size: 0.8em;
  margin-bottom: 0.3em;
}
.skillsabout h3 {
  text-align: left;
  font-size: 1em;
  margin-bottom: 0.4em;
}
.acercade,
.contacto,
.project1,
.project2,
.project3,
.project4,
.proyectos {
  background: url("backgroundacercade.jpg") no-repeat center center/cover;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  position: relative;
  padding-bottom: 8%;
}
#content {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
}
#main-header {
  position: absolute;
  width: 100%;
  color: #fff;
  padding: 0.1em 0;
  text-align: center;
  margin: 0;
  top: 1%;
  flex-direction: column;
}
#main-footer {
  position: fixed;
  width: 100%;
  background: rgb(31, 49, 28, 0.8);
  color: #fff;
  text-align: center;
  margin: 0;
  bottom: 0;
}
#footer {
  position: fixed;
  width: 30%;
  color: #fff;
  text-align: left;
  bottom: 0.5em;
  left: 0;
  padding-left: 1.3%;
  z-index: 2;
  font-size: 0.4em;
}
#main-header .navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  height: 4em;
  
}
#main-header .navigation ul li {
  margin: 0 1em;
  height: 4em;
}
#main-header .navigation ul li a {
  display: block;
  color: #fff;
  font-size: 1em;
  text-decoration: none;
}
#about,
#contact,
#projects {
  position: relative;
  width: 100%;
  top: 5.2%;
  text-align: center;
}
#about h2,
#contact h2,
#projects h2 {
  margin-bottom: 1em;
}
#about p,
#contact p,
#projects p {
  width: 80%;
  font-size: 1.2em;
  line-height: 1.5;
  margin-inline: 10%;
}
#contact {
  background: #1f311cff;
  opacity: 80%;
  padding: 1.4%;
  border-radius: 0.1em;
  box-shadow: 0 0 0.3em rgba(40, 100, 82, 0.1);
  margin: 1.6%;
}
#contact h2 {
  margin-bottom: 1em;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0;
  width: 98%;
  padding: 0 1%;
  margin-top: 2em;
}
.card {
  background-size: cover;
  background-position: center;
  border-radius: 0;
  overflow: hidden;
  box-shadow: 0 0.3em 0.5em rgba(0, 0, 0, 0.2);
  width: 24.7%;
  height: 28%;
  position: relative;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 1%;
}
.card-title {
  position: absolute;
  bottom: 0.4em;
  left: 0.4em;
  font-size: 1.5em;
  color: #fff;
  transition: color 0.3s ease;
}
.card-content {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: #1f311cff;
  color: #fff;
  padding: 0.7em;
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease, max-height 0.3s ease;
  max-height: 0;
  overflow: hidden;
}
.card:hover {
  transform: scale(1.2);
  box-shadow: 0 0.5em 0.8em rgba(0, 0, 0, 0.3);
  z-index: 1;
}
.card:hover .card-content {
  opacity: 1;
  max-height: 13.8%;
}
.card:hover .card-title {
  position: absolute;
  top: 1rem;
  left: 1rem;
}
.card-content p {
  margin-left: 0.8rem;
  margin-right: 0.8rem;
}
.card-content .read-more {
  display: inline-block;
  margin-top: 1em;
  padding: 0.5em 1em;
  background-color: #994e6cff;
  color: #fff;
  text-decoration: none;
  border-radius: 0.8rem;
  transition: background-color 0.3s ease;
}
.card-content .read-more:hover {
  background-color: #773855;
}
.card-content a {
  pointer-events: auto;
  z-index: 100;
}
.form {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin-left: 5%;
}
.form-group {
  width: 100%;
  margin-bottom: 5%;
}
.form-label {
  width: 100%;
  margin-bottom: 4%;
  font-weight: 700;
}
.form-label-mensaje {
  width: 100%;
  margin-bottom: 4%;
  font-weight: 700;
}
.form-control {
  width: 100%;
  padding: 0.6em;
  border: 1px solid #afaaaa;
  border-radius: 0.2em;
}
.form-control-mensaje {
  width: 100%;
  padding: 1em;
  border: 0.1em solid #afaaaa;
  border-radius: 3px;
  height: 5%;
  resize: none;
}
.char-count {
  font-size: 0.7em;
  color: #7f7f7f;
  margin-top: 0.1em;
  margin-left: 9%;
  text-align: left;
}
.social-text {
  margin-top: 9%;
  margin-bottom: 2%;
  position: sticky;
  font-size: 1.2em;
}
.social-btn {
  background-color: #333;
  color: #fff;
  padding: 0.5em 1em;
  margin: 0 0.3em;
  text-decoration: none;
  border-radius: 0.1em;
  font-size: 1em;
}
.social-btn:hover {
  background-color: #591126ff;
}
.btn {
  background: #591126ff;
  color: #fff;
  padding: 0.5em 0.75em;
  border: none;
  border-radius: 0.2em;
  cursor: pointer;
}
.btn:hover {
  background: #555;
}
/* CSS HEX 
--chamoisee: #917961ff;
--chocolate-cosmos: #591126ff;
--dark-green: #1F311Cff;
--reseda-green: #728F71ff;
--china-rose: #994E6Cff; */
/* Añadiendo Media Queries para diseño responsivo */
@media screen and (min-width: 1305px) and (min-height: 643px) {
  * {
    overflow: hidden;
  }
  body {
    font-size: 18px;
  }
  .hero .navigation ul {
    align-items: center;
    gap: 1em;
  }
  .hero .navigation ul li {
    flex: 1 1 auto;
    width: 100%;
    margin: 0;
  }
  .hero .navigation ul li a {
    display: block;
    width: 100%;
    text-align: center;
  }
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 0;
    width: 96%;
    padding: 0 2%;
    margin-top: 4em;
}
.card {
    width: 24.7%;
    height: 400px;
    position: relative;
    margin-top: 1.2%;
    margin-bottom: 4%;
}
.card:hover {
  transform: scale(1.15);
  z-index: 10;
}
.card:hover .card-content {
  opacity: 1;
  max-block-size: 100%;
}  
.card:hover .card-title {
    position: absolute;
    top: 15px;
    left: 10px;
}
  #contact {
    width: 28%;
    height: fit-content;
  }
  .form {
    align-self: center;
  }
  .form-control,
  .form-control-mensaje {
    width: 85%;
  }
}
@media screen and (max-width: 768px) and (min-height: 1024px) {
  #main-header,
  #main-footer {
    padding: 0.5em 0;
  }
  .hero h1 {
    font-size: 1.8em;
  }
  .hero .navigation ul {
    align-items: center;
    gap: 1em;
  }
  .hero .navigation ul li {
    flex: 1 1 auto;
    width: 100%;
    margin: 0;
  }
  .hero .navigation ul li a {
    display: block;
    width: 100%;
    text-align: center;
  }
  #main-header .navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin-inline: 5%;
    gap: auto;
  }
  #main-header .navigation ul li {
    margin-inline: auto;
    flex: 1;
    width: 22%;
  }
  .about {
    height: 90%;
    width: 90%;
  }
  .skills-container {
    flex-direction: row;
    margin-top: 5%;
  }
  .skillsabout {
    width: 100%;
  }
  .skillsabout ul li{
    font-size: 1em;
  }
  .card-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1em;
    width: 100%;
    height: 80%;
    overflow-y: hidden;
    align-content: flex-start;
    justify-content: center;
    padding-top: 2em;
  }
  .card {
    width: 35%;
    height: 45%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
    margin: 0%;
  }
  .card-title {
    font-size: 1.2em;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  }
  .card-content {
    position: absolute;
    color: white;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }
  .card:hover .card-content,
  .card:focus .card-content {
    transform: translateY(0);
  }
  .card:hover {
    transform: scale(1.24);
    z-index: 10;
    width: 45%;
  }
  .card:hover .card-content {
    opacity: 1;
    max-block-size: 100%;
  }  
  .card-content p,
  .card-content .read-more {
    margin-left: 0.8rem;
    margin-right: 1rem;
    display: block;
  }
  #contact {
    width: 90%;
    margin-top: 3%;
    padding: 1em;
  }
  .form {
    width: 100%;
  }
  .form-group {
    margin-bottom: 1em;
  }
  .form-control,
  .form-control-mensaje {
    width: 100%;
  }
}

@media screen and (max-width: 320px) and (min-height: 568px) {
  *{
    overflow-x: hidden;
  }
  body{
    font-size: 0.7em;
    overflow-y: scroll;
  }
  .hero {
    background-size: cover;
    height: 100vh;
    margin-bottom: 0%;
    margin-right: 0%;
    overflow-y: hidden;
  }

  .hero h1 {
    font-size: 1.5em;
  }

  .overlay {
    padding: 1em;
    height: 100vh;
  }
  #main-header,
  #main-footer {
    padding: 0.5em 0;
    font-size: 0.7em;
  }

  .hero .navigation ul {
    flex-direction: column;
    align-items: center;
    gap: 1em;
  }

  .hero .navigation ul li {
    width: 100%;
    margin: 0;
  }

  .hero .navigation ul li a {
    display: block;
    width: 100%;
    text-align: center;
  }

  #main-header .navigation ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    margin-inline: 5%;
    gap: auto;
  }

  #main-header .navigation ul li {
    margin-inline: auto;
    flex: 1;
    width: 22%;
  }

  .about {
    height: 90%;
    width: 90%;
  }

  .skills-container {
    flex-direction: column;
    margin-top: 5%;
  }

  .skillsabout {
    width: 100%;
  }
  .skillsabout ul li{
    font-size: 1em;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1em;
    width: 100%;
    margin-top: 4em;
    height: 70%;
    overflow-y: visible;
  }
  
  .card {
    width: 80%;
    height: 68%;
    margin-block-start: 2em;
    margin-inline: 10%;
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }

  .card-title {
    font-size: 1.2em;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  }

  .card-content {
    position: absolute;
    color: white;
    padding: 10px;
    transform: translateY(100%);
    transition: transform 0.3s ease;
  }

  .card:hover .card-content,
  .card:focus .card-content {
    transform: translateY(0);
  }

  .card:hover {
    transform: scale(1.24);
    z-index: 10;
    width: 90%;
  }
  .card:hover .card-content {
    opacity: 1;
    max-block-size: 100%;
  }
  
  .card-content p,
  .card-content .read-more {
    margin-left: 0.8rem;
    margin-right: 1rem;
    display: block;
  }

  .card-container::-webkit-scrollbar {
    display: none;
  }

  #contact {
    width: 90%;
    height: 85%;
    margin-top: 3%;
    padding: 1em;
  }
  .form-control,
  .form-control-mensaje {
    width: 100%;
  }
}